<template>
  <v-app dark>
    <v-content>
      <div class="alerts-list">
        <v-alert
          v-for="alert in alerts"
          :key="alert.text"
          :color="alert.color"
          v-text="alert.text"
        />
      </div>
      <v-container class="fill-height">
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState('toasts', {
      alerts: (state) => state.alerts,
    }),
  },
}
</script>

<style scoped>
.alerts-list {
  position: absolute;
  top: 1rem;
  right: 2rem;
}
</style>
