<template>
  <v-row align-content="center" justify="center">
    <v-col cols="6" class="purple-dark">
      <logo />
      <v-form ref="loginForm" @submit.prevent="formSubmit">
        <v-text-field
          v-model="email"
          :rules="[rules.email]"
          :error-messages="validationErrors.email"
          validate-on-blur
          type="email"
          label="Email"
        />
        <v-text-field
          v-model="password"
          :rules="[rules.password]"
          :error-messages="validationErrors.password"
          validate-on-blur
          type="password"
          label="Password"
        />

        <v-btn :loading="authIsLoading" color="success" type="submit">
          Login
        </v-btn>
      </v-form>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Logo from '~/components/Logo'

export default {
  layout: 'empty',

  components: {
    Logo,
  },

  data() {
    return {
      email: 'admin@example.com',
      password: 'qwe123',
      rules: {
        email: (val) => (val && val.includes('@')) || 'Should be an email!',
        password: (val) =>
          (val && val.length >= 6) || 'Should have 6 characters or more!',
      },
    }
  },

  computed: {
    ...mapGetters('auth', ['authIsLoading', 'validationErrors']),
  },

  methods: {
    ...mapActions('auth', ['signIn']),

    formSubmit() {
      if (!this.$refs.loginForm.validate()) return

      this.signIn({
        email: this.email,
        password: this.password,
      })
    },
    resetForm() {
      this.$refs.loginForm.reset()
    },
  },
}
</script>
